@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: #eee;
    height: auto; 

}
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

h1 {
font-weight: 400;
font-size: 2rem;
text-transform: uppercase;
margin: 0;
}

h2 {
    font-weight: 300;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;
}

h3{ 
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}   

img{
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2),
        -30px 0px 40px rgba(0, 0, 0, 0.2);
}

#landing {
    background: #fff;

}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem ;
    padding-left: 1rem;

}

#landing-text h2 {
    color: #888;
}


#landing-image {
    background: url(https://source.unsplash.com/De8wMYoSSBc);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 50vh;
   flex: 0 1 60vw;
   margin: 0;
}

.btn {
    padding: 0.5rem  2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease; 
}

.btn:hover{
    background: #f4f4f4
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2{
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

.container {
    width: 100%;
    overflow: hidden;
    background: #35424a;
    color: #ffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    padding-left: 0%;
    padding-right: 0%;
}
h2{
    color: #fff;
}
ul{
    margin: 0;
    padding: 0;
}
#current{
    float: right;
    margin-top: 10px;
}
 

footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3{
    font-size: 3rem;
    margin-bottom: 0;
}
   /* screen sizes 500px and up */
   @media (min-width: 500px) {
    #landing {
        display: flex;
        height: 100%;
    }
    #landing-text {
        height: 100vh;
    }
    #landing-image {
        height: 100vh;
    }
   }
   /* screen sizes 500px and up */
   @media (min-width: 500px) {
       #landing{
           display: flex;
           height: 100%;
       }

       #landing-text{
           height: 100vh;
       }
       #landing-image{
           height:100vh;
       }
    }
    /* Screen Sizes 700px and Up */
    @media (min-width: 700px) {
    .btn{
        padding: 1rem 3rem;
    }
   }
